@media (max-width: 475px) {

  .todo-table thead {
    display: none;
  }

  .todo-table td{
     border: 1px solid black;
  }

  .todo-table,
  .todo-table tbody,
  .todo-table tr,
  .todo-table td {
    display: block;
    width: 100%;
  }

  .todo-table tr {
    margin-bottom: 0.25rem;
    border: 1px solid #dee2e6;
    border-radius: 0.2rem;
    padding: 0.35rem;
    background-color: #fff;
  }

  .todo-table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .todo-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 45%;
    padding-left: 0.75rem;
    font-weight: bold;
    text-align: left;
  }
}